<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="d-flex flex-column min-vh-100">
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2 class="about-me" id="h2-about">About Me</h2>
    <p>bla bla </p>
    <p>bla bla </p>
    <p>bla bla </p>
    <p>bla bla </p>
    <p>bla bla </p>
    <p>bla bla </p>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>